
/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    /* height: 100%; */
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
}

img, picture, svg, video {
    max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul, ol {
    list-style: none;
}

/* custom style */
:root {
    --dot-width: 4rem;
    --dot-height: 4rem;
    --dot-gap: 4rem;
    --hide-menu-bar-width: 25rem;
    --hide-menu-bar-height: 3rem;
    --hide-menu-gap: 5rem;
    --hide-menu-height: calc(var(--hide-menu-bar-height) * 3 + var(--hide-menu-gap) * 2);
    --x-width: calc(var(--hide-menu-height) * 1.41421356237);
    --animation-timing: 150ms ease-in;
}

html {
    font-size: 6.25%;
}
body {
    font-size: 16rem;
}

/* header */
.header-wrapper {
    position: relative;
    background-color: #000;
    z-index: 5;
}
header {
    background-color: #000;
    width: min(95%, 98em);
    margin: 0 auto;
    height: fit-content;
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
}
header nav {
    display: grid;
    grid-template-columns: 1.3fr 2.7fr 1fr;
    align-items: center;
    gap: 30rem;
    width: 100%;
    height: 65rem;
    margin: 0 auto;
    z-index: 5;
}
nav > div {
    height: 100%;
}
/* left */
nav .left {
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .left > img {
    width: 112px;
}
nav .left .sign-in {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
nav .left .sign-in:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
nav .left .sign-in img {
    width: 100%;
    height: 40rem;
}
nav .left .sign-in::after {
    content: '';
    grid-column: span 2;
    position: absolute;
    bottom: 10rem;
    left: 0;
    width: 66%;
    height: 2px;
    background-color: #0178ff;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
nav .left::after {
    content: '';
    min-width: 1rem;
    height: 25rem;
    background-color: rgba(255,255,255,.15);
}
/* middle */
nav .middle {
    display: flex;
    align-items: center;
    gap: 40rem;
}
.middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.middle ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.middle ul .home::after {
    background-color: #fff;
}
.middle ul .news::after {
    background-color: #eb0000;
}
.middle ul .sport::after {
    background-color: #ffd230;
}
.middle ul .earth::after {
    background-color: #af0;
}
.middle ul .reel::after {
    background-color: #0068ff;
}
.middle ul .worklife::after {
    background-color: #0052a1;
}
.middle ul .travel::after {
    background-color: #589e50;
}
.middle ul .culture::after {
    background-color: #482878;
}
.middle ul li:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.middle ul li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.middle ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.middle .dot-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 50rem;
    cursor: pointer;
}
.middle .dot-menu-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    width: 66%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.middle .dot-menu-wrapper:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.dot-menu-wrapper .dot-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--dot-gap);
    height: 100%;
    width: 100%;
}
.dot-menu::before, .dot-menu input, .dot-menu::after {
    content: '';
    width: var(--dot-width);
    height: var(--dot-height);
    background-color: #fff;
}
.dot-menu input {
    appearance: none;
    outline: none;
}
/* input function */
.dot-menu:has(input:checked) {

}
/* right */
nav .right {
    background-color: #202224;
    height: calc(100% - 25rem);
    padding: 10rem;
}
nav .right:hover {
    background-color: #3a3c3e;
    cursor: pointer;
}
.right .search-bar {
    display: flex;
    align-items: center;
    gap: 5rem;
    max-width: 200rem;
    height: 100%;
}
.right img {
    width: 20rem;
}

/* hidden nav */
/* nav dot-menu function */
.header-wrapper:has(#slide-down:checked) + main .content {
    transform: translateY(18rem);
}
nav:has(#slide-down:checked) + .hidden-nav-wrapper {
    transform: translateY(0);
}
nav:has(#slide-down:checked) + .hidden-nav-wrapper > .hidden-nav {
    /* transform: translateY(0); */
    opacity: 1;
    visibility: visible;
}
.hidden-nav-wrapper {
    position: absolute;
    top: 65rem;
    left: 0;
    background-color: #000;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    z-index: -1;
}
.hidden-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40rem;
    background-color: #000;
    width: min(95%, 98em);
    min-height: 65rem;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity  300ms ease-in-out, visibility  300ms ease-in-out;
    border-top: 1px solid rgba(255,255,255,.15);
    /* z-index: 2; */
}
.items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25rem;
    height: 100%;
    padding: 20rem 0;
}
.items li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.items .hidden-home,
.items .hidden-news,
.items .hidden-sport,
.items .hidden-earth,
.items .hidden-reel,
.items .hidden-worklife,
.items .hidden-travel,
.items .hidden-culture {
    display: none;
}
.items li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.items li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10rem;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.items li:hover a::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
} 
.items .hidden-future a::after {
    background-color: #002856;
}
.items .hidden-tv a::after {
    background-color: #fff;
}
.items .hidden-weather a::after {
    background-color: #149edc;
}
.items .hidden-sounds a::after {
    background-color: #fa6400;
}
/* x button */
.hidden-nav .hide-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}
.hidden-nav .hide-menu-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10rem;
    left: -3rem;
    background-color: #fff;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.hidden-nav .hide-menu-wrapper:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
} 
.hide-menu-wrapper .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 35rem;
}
.hide-menu::before, .hide-menu input, .hide-menu::after {
    content: '';
    width: var(--hide-menu-bar-width);
    height: var(--hide-menu-bar-height);
    background-color: #fff;
    transform-origin: left center;
}
.hide-menu input {
    appearance: none;
    outline: none;
    width: 0;
}
.hide-menu::before {
    transform: rotate(45deg);
    translate: 0 calc(var(--hide-menu-bar-height) / -2);
    width: var(--x-width);
}
.hide-menu::after {
    transform: rotate(-45deg);
    translate: 0 calc(var(--hide-menu-bar-height) / 2);
    width: var(--x-width);
}

/* main content */
.header-wrapper:has(#slide-down:checked) + main {
    translate: 0 50rem;
}
main {
    width: min(95.5%, 80em);
    margin: 0 auto;
    transition: translate 300ms ease-in-out;
}
main .content {
    margin: 0 auto;
    margin-top: 30rem;
    transition: transform 300ms ease-in-out;
}
.content .welcome {
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-family: "BBC Reith Sans Bold";
    font-size: 22rem;
}
.welcome .welcome-date {
    font-family: "BBC Reith Sans";
    font-weight: 400;
    color: rgb(140, 140, 140);
}
/* hero grid */
.content .hero-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "middle-east middle-east canada health"
    "middle-east middle-east worklife culture";
    column-gap: 15rem;
    row-gap: 10rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 50rem;
}
/* grid placement */
.middle-east {
    grid-area: middle-east;
}
.canada {
    grid-area: canada;
}
.health {
    grid-area: health;
}
.worklife {
    grid-area: worklife;
}
.culture {
    grid-area: culture;
}
/* end */
.hero-grid .card {
    position: relative;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); */
}
.hero-grid .card img {
    visibility: hidden;
}
.hero-grid .card::after {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.hero-grid .card:hover::before {
    transform: scale(1.03);
}
.hero-grid .middle-east::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/middle-east.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .middle-east::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .canada::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/canada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .canada::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .health::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/health.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .health::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .worklife::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/worklife.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .worklife::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .culture::before {
    content: '';
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(assets/images/culture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .culture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}

/* card elements */
.card .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 8.5rem;
    padding: 10rem;
    font-family: "BBC Reith Sans";
    font-weight: 400;
}
.card .text h1 {
    font-size: 32rem;
}
.card h2 {
    font-size: 20rem;
}
.card .text p {
    font-size: 16rem;
    color: #d3d3d3;
}
.card .text a {
    color: #d3d3d3;
    font-size: 14rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.card .text a:hover {
    color: #fff;
    text-decoration: underline;
}
.card .text a::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 10rem;
    margin-right: 6rem;
}
.middle-east a::before {
    background-color: #e91802;
}
.canada a::before {
    background-color: #e91802;
}
.health a::before {
    background-color: #e91802;
}
.worklife a::before {
    background-color: #0052a1;
}
.culture a::before {
    background-color: #482878;
}

/* section */
.content .category {
    margin-bottom: 10rem;
}
.content .category a {
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 24rem;
}
.content .category a:hover {
    color: #000;
}
.content .category a::before {
    content: '';
    left: 10rem;
    display: inline-block;
    background-color: #e91802;
    width: 3rem;
    height: 18rem;
    margin-right: 6rem;
}

.content .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: min-content; */
    gap: 20rem;
}
.news-grid .column {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    height: 415rem;
    cursor: pointer;
}
.news-grid .column:hover .image-wrapper::after {
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.3));
}
.news-grid .column .image-wrapper {
    position: relative;
}
.news-grid .column .image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-grid .column .image-wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: transform 200ms ease-in;
}
.news-grid .column .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: auto; */
    height: 100%;
}
.news-grid .column h3 {
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 20rem;
    text-align: left;
}
.news-grid .column p {
    color: rgb(74, 74, 74);
    font-family: "BBC Reith Sans";
    font-weight: 400;
}
.news-grid .column a {
    color: rgb(118, 118, 118);
    font-family: "BBC Reith Sans";
    font-size: 14rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.news-grid .column a:hover {
    text-decoration: underline;
}
.news-grid .column a::before {
    content: '';
    display: inline-block;
    background-color: #e91802;
    width: 2rem;
    height: 10rem;
    margin-right: 5rem;
}

/* footer */
footer {
    background-color: #4c4c4c;
    margin-top: 6.5em;
    margin-bottom: 20rem;
}
.footer-wrapper {
    width: min(95%, 78em);
    margin: 0 auto;
    padding-top: 30rem;
}
.footer-wrapper h1 {
    margin-bottom: 25rem;
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 22rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer-grid li {
    border-right: 1px solid #949494;
}
.footer-grid li a {
    display: flex;
    align-items: flex-end;
    height: 25rem;
    padding-left: 20rem;
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
    text-decoration: none;
    box-sizing: border-box;
}
.footer-grid li a:hover {
    text-decoration: underline;
}
/* copyright */
footer .copyright {
    margin-top: 20rem;
    padding: 10rem 0;
    border-top: 1px solid #949494;
}
.copyright ul {
    display: flex;
    gap: 20rem;
}
.copyright ul li a {
    color: #fff;
    font-family: "BBC Reith Sans";
    font-weight: 400;
    font-size: 13rem;
    text-decoration: none;
}
.copyright ul li a:hover {
    text-decoration: underline;
}
.copyright div {
    margin-top: 15rem;
    color: #fff;
    font-family: "BBC Reith Sans";
    font-weight: 400;
    font-size: 13rem;
}
.copyright div span {
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
    text-decoration: none;
}
.copyright div a {
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
    text-decoration: none;
}
.copyright div a:hover {
    text-decoration: underline;
}

/* media queries */
@media (max-width: 1280px) {
    header {
        width: min(95%, 76em);
        background-color: #000;
    }
    header nav {
        grid-template-columns: 1.5fr 3.2fr 0.3fr;
    }
    nav .middle ul .culture {
        display: none;
    }
    nav .left .sign-in {
        grid-template-columns: 1.6fr 3.4fr;
    }
    nav .right {
        background-color: #000;
        height: 100%;
        padding: 0;
    }
    nav .right span {
        display: none;
    }
    .right img {
        min-width: 39rem;
    }
    /* hidden nav */
    .hidden-nav {
        width: min(95%, 76em);
    }
    .items .hidden-culture {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-culture a::after {
        background-color: #482878;
    }

    /* main */
    main .content {
        margin-top: 15rem;
    }
    .card .text {
        gap: 7rem;
    }
    .card .text h1 {
        font-family: "BBC Reith Sans Bold";
        font-weight: 700;
    }
    .card h2 {
        font-family: "BBC Reith Sans Bold";
        font-weight: 700;
    }

    .news-grid .column {
        height: 395rem;
    }

    /* footer */
    .footer-wrapper {
        width: min(95%, 63em);
    }

    .copyright ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20rem;
        row-gap: 10rem;
    }
}

@media (max-width: 1190px) {
    .news-grid .column {
        height: 375rem;
    }
}

@media (min-width: 1025px) {
    .footer-grid li:nth-child(-n + 6) a {
        align-items: flex-start;
        /* height: 15rem; */
    }
    .footer-grid li:nth-child(6n + 1) a {
        padding-left: 0;
    }
}
@media (max-width: 1024px) {
    header nav {
        grid-template-columns: 220rem 1fr 40rem;
        gap: 0;
    }

    nav .left .sign-in {
        grid-template-columns: 1fr;
        justify-content: center;
        width: 50rem;
    }
    nav .left .sign-in img {
        min-width: 49rem;
        margin: 0 auto;
    }
    nav .left .sign-in p {
        display: none;
    }

    nav .middle .dot-menu-wrapper {
        margin-right: 35rem;
    }
    nav .middle ul {
        justify-content: space-between;
        gap: 45rem;
        width: 100%;
    }
    nav .middle ul .travel {
        display: none;
    }

    /* hidden nav */
    .items .hidden-travel {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-travel a::after {
        background-color: #589e50;
    }

    /* main */
    .content .hero-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "middle-east middle-east"
        "middle-east middle-east"
        "canada health"
        "worklife culture";
        column-gap: 15rem;
        row-gap: 10rem;
        margin: 0 auto;
        margin-top: 10rem;
        margin-bottom: 50rem;
    }

    .news-grid .column {
        height: 357rem;
    }

    /* footer */
    .footer-wrapper {
        width: calc(100% - 35rem);
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .copyright ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20rem;
        row-gap: 10rem;
        margin-top: 10rem;
    }
}

@media (max-width: 900px) {
    /* header nav {
        grid-template-columns: 1.6fr 3.6fr 0.3fr;
    } */
    nav .middle ul {
        gap: initial;
    }
}

@media (max-width: 850px) {
    nav .middle ul .worklife {
        display: none;
    }

    /* hidden nav */
    .items .hidden-worklife {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-worklife a::after {
        background-color: #0052a1;
    }
}

@media (max-width: 750px) {
    .header-wrapper:has(#slide-down:checked) + main .content {
        margin-top: 10rem;
    }
    /* header nav {
        grid-template-columns: 2fr 3.7fr 0.3fr;
    } */

    nav .middle ul .reel {
        display: none;
    }

    /* hidden nav */
    .items .hidden-reel {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-reel a::after {
        background-color: #0068ff;
    }

    footer {
        margin-top: 9em;
    }
}

@media (max-width: 650px) {
    .header-wrapper:has(#slide-down:checked) + main .content {
        margin-top: 50rem;
    }

    /* header nav {
        grid-template-columns: 2fr 3.2fr 0.3fr;
    } */

    nav .middle ul .earth {
        display: none;
    }

    /* hidden nav */
    .items li::after {
        bottom: -2px;
    }
    .items li a {
        height: 35px;
    }
    .items .hidden-earth {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-earth a::after {
        background-color: #af0;
    }
}

@media (max-width: 1024px) and (min-width: 601px) {
    .footer-grid li:nth-child(4n + 1) a {
        padding-left: 0;
    }
    .footer-grid li:nth-child(-n + 4) a {
        align-items: flex-start;
    }
    .footer-grid li:nth-child(n+5):nth-child(-n+8) a {
        align-items: center;
    }
    .footer-grid li:nth-child(n+9) a {
        align-items: end;
    }
}

@media (max-width: 600px) {
    :root {
        --dot-width: 23rem;
        --dot-height: 4rem;
        --dot-gap: 5rem;
    }

    .header-wrapper:has(#slide-down:checked) + main .content {
        margin-top: 345rem;
    }
    
    header nav {
        grid-template-columns: 4.4fr 0.3fr 0.3fr;
        gap: 20rem;
    }
    nav .middle .dot-menu-wrapper {
        margin-right: 0;
    }
    .dot-menu-wrapper .dot-menu {
        flex-direction: column;
    }

    .dot-menu::before, .dot-menu input, .dot-menu::after {
        border-radius: 1.5px;
    }
    nav .left {
        position: relative;
    }
    nav .left > img {
        position: absolute;
        /* top: 0; */
        left: 50%;
    }
    nav .left::after {
        display: none;
    }

    nav .middle ul .home {
        display: none;
    }
    nav .middle ul .news {
        display: none;
    }
    nav .middle ul .sport {
        display: none;
    }

    nav .right .search-bar {
        min-width: 100%;
    }

    .hidden-nav {
        align-items: flex-start;
        padding: 20rem 0;
    }
    .hidden-nav .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100rem;
        row-gap: 30rem;
        width: 100%;
        padding: 0;
    }

    .items .hidden-home,
    .items .hidden-news,
    .items .hidden-sport {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .items .hidden-home a::after {
        background-color: #fff;
    }
    .items .hidden-news a::after {
        background-color: #eb0000;
    }
    .items .hidden-sport a::after {
        background-color: #ffd230;
    }

    .items li a {
        position: relative;
        margin-left: 5rem;
        font-size: 16rem;
    }
    .items li a::after {
        bottom: 0;
    }

    .hidden-nav .hide-menu-wrapper {
        width: 60rem;
        height: 60rem;
    }
    .hidden-nav .hide-menu-wrapper::after {
        bottom: 0;
    }
    .hide-menu-wrapper .hide-menu {
        width: 100%;
    }

    main {
        width: min(92%, 80em);
    }

    .content .welcome {
        display: none;
    }
    .content .hero-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 50px 50px 50px 50px;
        grid-template-areas: 
        "middle-east middle-east"
        "middle-east middle-east"
        "canada canada"
        "health health"
        "worklife worklife"
        "culture culture";
        margin-bottom: 20rem;
    }

    .hero-grid .card:not(.middle-east) .text {
        justify-content: center;
        gap: 4rem;
        width: 100%;
        height: 100%;
        padding: 5rem 0 10rem;
        color: #000;
        border-bottom: 1px solid #d8d8d8;
    }
    .middle-east .text h1 {
        font-size: 24rem;
    }
    .middle-east .text p {
        display: none;
    }
    .middle-east .text a {
        font-size: 12rem;
    }
    .card:not(.middle-east) h2 {
        font-size: 16rem;
    }
    .card:not(.middle-east) a {
        font-size: 12rem;
        color: rgb(118, 118, 118);
    }
    .card:not(.middle-east) a:hover {
        color: rgb(118, 118, 118);
        text-decoration: underline;
    }
    .hero-grid .card:not(.middle-east)::before {
        display: none;
    }
    .hero-grid .card:not(.middle-east)::after {
        display: none;
    }
    .content .news-grid {
        grid-template-columns: 1fr;
        gap: 10rem;
    }
    .news-grid .column {
        height: auto;
        border-bottom: 1px solid #d8d8d8;
    }
    .news-grid .column .text {
        gap: 4rem;
        padding: 4rem 0 8rem;
    }
    .news-grid .column p {
        display: none;
    }
    .news-grid .column h3 {
        font-size: 16rem;
    }
    .column .image-wrapper {
        display: none;
    }

    /* footer */
    .footer-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-grid li a {
        height: 30rem;
    }
    .copyright ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .copyright div {
        margin-top: 40rem;
    }
}
@media (max-width: 600px) and (min-width: 401px) {
    .footer-grid li:nth-child(3n + 1) a {
        padding-left: 0;
    }
    .footer-grid li:nth-child(-n + 3) a {
        height: 15rem;
    }
    .footer-grid li:nth-child(n + 4) a {
        align-items: flex-end;
    }
}
@media (max-width: 420px) {
    .content .hero-grid {
        grid-template-rows: 1fr 1fr 70px 70px 60px 60px;
    }
}
@media (max-width: 400px) {
    header nav {
        gap: 10rem;
    }
    .middle .dot-menu-wrapper:hover::after {
        width: 85%;
    }
    .right img {
        min-width: 35rem;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
    .footer-grid li a {
        height: 32rem;
    }
    .footer-grid li:nth-child(2n + 1) a {
        padding-left: 0;
    }
    .footer-grid li:nth-child(-n + 2) a {
        height: 15rem;
    }

    .copyright ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 350px) {
    header nav {
        gap: 0;
    }
    nav .right .search-bar {
        min-width: 0;
    }
    .hidden-nav {
        gap: 20rem;
    }
    nav .left > img {
        left: 45%;
    }
}

@media (max-width: 319px) {
    .content .hero-grid {
        grid-template-rows: 1fr 1fr 70px 70px 65px 65px;
    }
}