
/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    /* height: 100%; */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img, picture, svg, video {
    max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul, ol {
    list-style: none;
}

/* custom style */
:root {
    --dot-width: 4rem;
    --dot-height: 4rem;
    --dot-gap: 4rem;
    --hide-menu-bar-width: 25rem;
    --hide-menu-bar-height: 3rem;
    --hide-menu-gap: 5rem;
    --hide-menu-height: calc(var(--hide-menu-bar-height) * 3 + var(--hide-menu-gap) * 2);
    --x-width: calc(var(--hide-menu-height) * 1.41421356237);
    --animation-timing: 150ms ease-in;
}

html {
    font-size: 6.25%;
}
body {
    font-size: 16rem;
}

/* header */
.header-wrapper {
    position: relative;
    background-color: #000;
    z-index: 5;
}
header {
    background-color: #000;
    width: min(95%, 98em);
    margin: 0 auto;
    height: fit-content;
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
}
header nav {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1fr;
    align-items: center;
    gap: 30rem;
    width: 100%;
    height: 65rem;
    margin: 0 auto;
    z-index: 5;
}
nav > div {
    height: 100%;
}
/* left */
nav .left {
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .left > img {
    width: 120px;
}
nav .left .sign-in {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
nav .left .sign-in:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
nav .left .sign-in img {
    width: 35px;
}
nav .left .sign-in::after {
    content: '';
    grid-column: span 2;
    position: absolute;
    bottom: 10rem;
    left: 0;
    width: 66%;
    height: 2px;
    background-color: #0178ff;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
nav .left::after {
    content: '';
    width: 1rem;
    height: 25rem;
    background-color: rgba(255,255,255,.15);
}
/* middle */
nav .middle {
    display: flex;
    align-items: center;
    gap: 40rem;
}
.middle ul {
    display: flex;
    align-items: center;
    gap: 40rem;
    height: 100%;
}
.middle ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.middle ul li:nth-child(1)::after {
    background-color: #fff;
}
.middle ul li:nth-child(2)::after {
    background-color: #eb0000;
}
.middle ul li:nth-child(3)::after {
    background-color: #ffd230;
}
.middle ul li:nth-child(4)::after {
    background-color: #af0;
}
.middle ul li:nth-child(5)::after {
    background-color: #0068ff;
}
.middle ul li:nth-child(6)::after {
    background-color: #0052a1;
}
.middle ul li:nth-child(7)::after {
    background-color: #589e50;
}
.middle ul li:nth-child(8)::after {
    background-color: #482878;
}
.middle ul li:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.middle ul li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.middle ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.middle .dot-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 50rem;
    cursor: pointer;
}
.middle .dot-menu-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    width: 66%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.middle .dot-menu-wrapper:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.dot-menu-wrapper .dot-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--dot-gap);
    height: 100%;
    width: 100%;
}
.dot-menu::before, .dot-menu input, .dot-menu::after {
    content: '';
    width: var(--dot-width);
    height: var(--dot-height);
    background-color: #fff;
}
.dot-menu input {
    appearance: none;
    outline: none;
}
/* input function */
.dot-menu:has(input:checked) {

}
/* right */
nav .right {
    background-color: #202224;
    height: calc(100% - 25rem);
    padding: 10rem;
}
nav .right:hover {
    background-color: #3a3c3e;
    cursor: pointer;
}
.right .search-bar {
    display: flex;
    align-items: center;
    gap: 5rem;
    max-width: 200rem;
    height: 100%;
}
.right img {
    width: 20rem;
}

/* hidden nav */
/* nav dot-menu function */
nav:has(input:checked) + .hidden-nav-wrapper {
    transform: translateY(0);
}
nav:has(input:checked) + .hidden-nav-wrapper > .hidden-nav {
    /* transform: translateY(0); */
    opacity: 1;
    visibility: visible;
}
.hidden-nav-wrapper {
    position: absolute;
    top: 65rem;
    left: 0;
    background-color: #000;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    z-index: -1;
}
.hidden-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    width: min(95%, 98em);
    height: 65rem;
    margin: 0 auto;
    /* opacity: 0;
    visibility: hidden; */
    transition: opacity  300ms ease-in-out, visibility  300ms ease-in-out;
    border-top: 1px solid rgba(255,255,255,.15);
    /* z-index: 2; */
}
.hidden-nav .items {
    height: 100%;
}
.items ul {
    display: flex;
    align-items: center;
    gap: 25rem;
    height: 100%;
}
.items ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.items ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
}
.items ul li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 15rem;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.items ul li:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
} 
.items ul li:nth-child(1)::after {
    background-color: #002856;
}
.items ul li:nth-child(2)::after {
    background-color: #fff;
}
.items ul li:nth-child(3)::after {
    background-color: #149edc;
}
.items ul li:nth-child(4)::after {
    background-color: #fa6400;
}
/* x button */
.hidden-nav .hide-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}
.hidden-nav .hide-menu-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    left: -3rem;
    background-color: #fff;
    width: 66%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    transition: width var(--animation-timing), opacity var(--animation-timing), visibility var(--animation-timing);
}
.hidden-nav .hide-menu-wrapper:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
} 
.hide-menu-wrapper .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 35rem;
}
.hide-menu::before, .hide-menu input, .hide-menu::after {
    content: '';
    width: var(--hide-menu-bar-width);
    height: var(--hide-menu-bar-height);
    background-color: #fff;
    transform-origin: left center;
}
.hide-menu input {
    appearance: none;
    outline: none;
    width: 0;
}
.hide-menu::before {
    transform: rotate(45deg);
    translate: 0 calc(var(--hide-menu-bar-height) / -2);
    width: var(--x-width);
}
.hide-menu::after {
    transform: rotate(-45deg);
    translate: 0 calc(var(--hide-menu-bar-height) / 2);
    width: var(--x-width);
}

/* main content */
.header-wrapper:has(#slide-down:checked) + main {
    translate: 0 50rem;
}
main {
    width: min(95%, 80em);
    margin: 0 auto;
    transition: translate 300ms ease-in-out;
}
main .content {
    margin: 0 auto;
    margin-top: 30rem;
}
.content .welcome {
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-family: "BBC Reith Sans Bold";
    font-size: 22rem;
}
.welcome .welcome-date {
    font-family: "BBC Reith Sans";
    font-weight: 400;
    color: rgb(140, 140, 140);
}
/* hero grid */
.content .hero-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 168px;
    grid-template-areas: 
    "middle-east middle-east canada health"
    "middle-east middle-east worklife culture";
    column-gap: 20rem;
    row-gap: 10rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 50rem;
}
/* grid placement */
.middle-east {
    grid-area: middle-east;
}
.canada {
    grid-area: canada;
}
.health {
    grid-area: health;
}
.worklife {
    grid-area: worklife;
}
.culture {
    grid-area: culture;
}
/* end */
.hero-grid .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10rem;
    position: relative;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); */
}
.hero-grid .card::after {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.hero-grid .card:hover::before {
    transform: scale(1.03);
}
.hero-grid .middle-east::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/middle-east.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .middle-east::after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .canada::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/canada.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .canada::after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .health::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/health.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .health::after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .worklife::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/worklife.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .worklife::after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}
.hero-grid .culture::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/culture.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: transform 200ms ease-in;
    z-index: -2;
}
.hero-grid .culture::after {
    content: '';
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
    width: 100%;
    min-height: 100%;
    transition: transform 200ms ease-in;
    z-index: -1;
}

/* card elements */
.card .text {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    gap: 5rem;
    padding: 10rem;
    font-family: "BBC Reith Sans";
    font-weight: 400;
}
.card .text h1 {
    font-size: 32rem;
}
.card h2 {
    font-size: 20rem;
}
.card .text p {
    font-size: 16rem;
    color: #d3d3d3;
}
.card .text a {
    color: #d3d3d3;
    font-size: 14rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.card .text a:hover {
    color: #fff;
    text-decoration: underline;
}
.card .text a::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 10rem;
    margin-right: 6rem;
}
.middle-east a::before {
    background-color: #e91802;
}
.canada a::before {
    background-color: #e91802;
}
.health a::before {
    background-color: #e91802;
}
.worklife a::before {
    background-color: #0052a1;
}
.culture a::before {
    background-color: #482878;
}

/* section */
.content .category {
    margin-bottom: 10rem;
}
.content .category a {
    color: rgb(74, 74, 74);
    text-decoration: none;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 24rem;
}
.content .category a:hover {
    color: #000;
}
.content .category a::before {
    content: '';
    left: 10rem;
    display: inline-block;
    background-color: #e91802;
    width: 3rem;
    height: 18rem;
    margin-right: 6rem;
}

.content .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: min-content; */
    gap: 20rem;
}
.news-grid .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420rem;
}
.news-grid .column .image-wrapper
.news-grid .column .image-wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.news-grid .column .text {
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
}
.news-grid .column h3 {
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 20rem;
}
.news-grid .column p {
    color: rgb(74, 74, 74);
    font-family: "BBC Reith Sans";
    font-weight: 400;
}
.news-grid .column a {
    color: rgb(118, 118, 118);
    font-family: "BBC Reith Sans";
    font-size: 14rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.news-grid .column a:hover {
    text-decoration: underline;
}
.news-grid .column a::before {
    content: '';
    display: inline-block;
    background-color: #e91802;
    width: 2rem;
    height: 10rem;
    margin-right: 5rem;
}

/* footer */
footer {
    background-color: #4c4c4c;
    margin-top: 10em;
    margin-bottom: 20rem;
}
.footer-wrapper {
    width: min(95%, 78em);
    margin: 0 auto;
    padding-top: 30rem;
}
.footer-wrapper h1 {
    margin-bottom: 25rem;
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 22rem;
}
.footer-wrapper .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* row-gap: 20rem; */
}
.footer-grid span {
    display: flex;
    position: relative;
    height: 23rem;
}
.footer-grid span a {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* padding-top: 10rem; */
    /* border-right: 1px solid #949494; */
    color: #fff;
    line-height: 0.9;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
    text-decoration: none;
}
.footer-grid span::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    right: 0;
    width: 1px;
    height: 100%;
    margin-right: 15rem;
    background-color: #949494;
}
.footer-grid span a:hover {
    text-decoration: underline;
}
.footer-grid span:nth-child(n+7) a {
    align-self: flex-end;
}
/* copyright */
footer .copyright {
    margin-top: 20rem;
    padding: 10rem 0;
    border-top: 1px solid #949494;
}
.copyright ul {
    display: flex;
    gap: 20rem;
}
.copyright ul li a {
    color: #fff;
    font-family: "BBC Reith Sans";
    font-weight: 400;
    font-size: 13rem;
    text-decoration: none;
}
.copyright ul li a:hover {
    text-decoration: underline;
}
.copyright div {
    margin-top: 15rem;
    color: #fff;
    font-family: "BBC Reith Sans";
    font-weight: 400;
    font-size: 13rem;
}
.copyright div span, a {
    color: #fff;
    font-family: "BBC Reith Sans Bold";
    font-weight: 700;
    font-size: 13rem;
    text-decoration: none;
}
.copyright div a:hover {
    text-decoration: underline;
}