/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

a {
  text-decoration: none;
}

/* img {
  box-shadow: inset 10px 10px 20px black;
}
img:after {
  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(cirle, transparent 50%, red 150%);
  mix-blend-mode: difference;
} */


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 45px;
  background-color: black;
  color: white;
}

nav * {
  width: 10%;
  float: left;
  color: white;
  display: block;
}

nav ul {
  width: 70%;
}

nav form {
  width: 11%;
}

nav form input {
	width: 100%;
}

header nav > img {
  /* height: 60.362px; */
  width: 79.462px;
  
}

nav > div  {
  margin-left:20px;
}

nav > div img, nav > div a {
  float: left;
  width: 50%;
}

nav > div img {
  width: 20%;
}

nav > div a {
  margin-top: 7px;
  margin-left: 5px;
}

nav > div{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-left: 2px solid white;
  padding: 6px 0 6px 10px;
  text-decoration: none;
}


/* ul, form {
  margin-top: 20px;
} */

 nav > ul > li, form {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-left: 2px solid white;
  padding: 14px 0 22px 10px;
  text-decoration: none;
  
  /* padding-top: 30px; */
}

nav > ul li {
  
}
/******************************************
BODY
*******************************************/
main {
  margin: 10px 10px 10px 15px;
  height: 420px;
}

main * {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 20px;
  color: white;
}

main div > h4, main div > h2 {
  width: 50%;
  float: left;
  color: rgb(18, 18, 18);
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
main div > h4 {
  text-align: right;
}

main > div + section, main > section + section {
  float: left;
  width: 49%;
  height: 400px;
}

/*******************************************
/*First column of main 
/*******************************************/
main > div + section {
  background: no-repeat center/100% url("../images/composite.jpg");
  margin-right: 1%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

main > div + section h1 {
  margin: 290px 0 10px 10px;
  font-weight: bold;
}

main > div + section p,span{
  margin: 10px 10px 10px 10px;
}

/*******************************************
/*Second column of main 
/*******************************************/

main > section + section  section{
  float: left;
  width: 49%;
  height: 195px;
  background-color: black;
} 

main > section + section  .tab-1{
  background: no-repeat center/100% url("../images/_113917145_gettyimages-144092698.jpg");
  margin-right: 2%;
  margin-bottom: 10px;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

main > section + section  .tab-2{
  background: no-repeat center/100% url("../images/_113910060_gettyimages-1219401083.jpg");
  margin-bottom: 10px;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

main > section + section  .tab-3{
  background: no-repeat center/100% url("../images/p08ngz84.jpg");
  margin-right: 2%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

main > section + section  .tab-4{
  background: no-repeat center/100% url("../images/p08nccxx.jpg") ;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

main > section + section  section h3 {
  margin: 125px 0 0 10px;
}

main > section + section  section span{
  margin: 5px 10px 5px 10px;
  font-size: 15px;
}


/*******************************************
Second Row
********************************************/
main + section {
  margin: 50px 20px 20px 15px;
}

main + section  img {
  width: 100%
}

main + section > h2 {
  font-size: 25px;
  font-weight: 700;
  text-shadow: 1px 0px #558abb;
  padding-left: 5px;
  border-left: 4px solid red;
} 

main + section > section {
  margin: 10px 0 0 0;
  float: left;
  width: 33%;
  height: 300px;
}

main + section > h2 + section, main + section > h2 + section + section{
  margin-right: 0.5%;
}

main + section > section h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

main + section > section p {
  font-size: 18px;
  margin-bottom: 10px;
}

main + section > section span {
  padding-left: 5px;
  margin: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
span {
  border-left: 4px solid red;
}